.title 
{
    margin-left: 100px;
}
.a
{
    color:black;
}
.div
{
    color:red;
    font-size: small;
}


a:hover
{
    color:red;
}

.btn-space
{
    margin-right: 100px;
}


.h3
{
    font-size: 50px;
}

.formStyle
{
    color : green;
    font-size : 150px;
    align-items: center;


}

